@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold




.header
	background: url(../img/header_back.jpg) no-repeat
	background-size: cover
	position: relative
	min-height: 100vh

	&__overlay
		position: absolute
		opacity: .80
		background-color: #0b1d2b
		top: 0
		left: 0
		height: 100%
		width: 100%

	&__logo
		&-img
			display: inline-block
		&-title
			display: inline-block
			color: #fff
			font-size: 14px
			//margin-left: 50px
			vertical-align: middle
			line-height: 1.3
			
	&__links
		text-align: right
		vertical-align: middle

	&__phone
		color: #fff
		font-weight: bold
		font-size: 14px
		transition: color .25s ease
		text-decoration: none
		margin-right: 25px
		&:hover
			text-decoration: none
			color: #d6d6d6

	&__button
		color: #fff
		border: 1px solid #8a8f99
		display: inline-block
		padding: 16px 48px
		border-radius: 50px
		transition: background-color .25s ease
		
		&:hover
			background-color: rgba(#8a8f99, .85)
			color: #fff
			text-decoration: none

	&__carousel
		color: #fff
		&-title
			font-size: 3em
			font-weight: bold
			line-height: 1.3
		&-text
			margin-top: 25px
			font-size: 1.25em

		&-buttons
			margin-top: 52px

		.owl-dots
			position: absolute
			top: 0
			.owl-dot
				display: block
				margin-bottom: 15px

				&.active
					span
						width: 40px
						background: $accent

				span
					margin: 0
					background: #fff
					width: 20px
					height: 3px
					border-radius: 0

		&-btn
			color: #fff
			text-decoration: none
			position: relative
			border-bottom: 1px dashed
			padding-bottom: 3px
			margin-left: 66px
			margin-right: 55px
			transition: all .25s
			&:last-child
				margin-right: 0

			&:hover
				text-decoration: none
				color: #fff
				border-bottom: none

				.header__carousel-btn-icon
					&:before
						background: radial-gradient(circle at center, #fe3a4c, #ec3a48)

			&-icon
				position: absolute
				display: block
				height: 25px
				width: 25px
				-webkit-border-radius: 50%
				-moz-border-radius: 50%
				border-radius: 50%
				background: radial-gradient(circle at center, #fe3a4c, #ec3a48)
				border-bottom: none
				left: -53px
				top: -1px
				color: #000
				font-size: 11px
				text-align: center

				&:before
					content: ''
					display: block
					height: 50px
					width: 50px
					border: 1px solid #fe3a4c
					background: none
					left: -12.5px
					top: -12.5px
					position: absolute
					border-radius: 50%

				.demo-icon
					line-height: 25px
					position: relative

		&-play-btn
			background: url(../img/play_btn.png)
			height: 70px
			width: 70px
			background-size: 100%
			display: inline-block
			vertical-align: middle
			float: right
			transition: transform .25s
			&:hover
				transform: scale(1.15)

		&-chekout-btn
			float: left
			padding: 21px 30px 21px 45px
			background: $accent
			border-radius: 50px
			color: #FFFFFF
			box-shadow: 4px 10px 24px -7px $accent
			transition: all .25s ease

			&:hover
				text-decoration: none
				color: #fff
				background: #d42e3b
				box-shadow: 13px 18px 70px -5px #d42e3b


			.inner-key
				background: #fff
				width: 30px
				height: 30px
				display: inline-block
				border-radius: 50%
				vertical-align: middle
				color: $accent
				text-align: center
				margin-left: 25px
				margin-top: -2px
				&:before
					line-height: 28px

		&-buttons-footer
			margin: 100px 0

			&:after
				content: ''
				display: block
				clear: both

	&__promo
		margin-top: 73px
		padding-top: 18px


.vertical-alignment-helper
	display: table
	height: 100%
	width: 100%
	pointer-events: none

.vertical-align-center
	display: table-cell
	vertical-align: middle
	pointer-events: none

.modal-content
	width: inherit
	max-width: inherit /* For Bootstrap 4 - to avoid the modal window stretching full width */
	height: inherit
	/* To center horizontally */
	margin: 0 auto
	pointer-events: all


.modal
	&-backdrop
		background-color: #23292e
		&.in
			opacity: 0.9
	&-title
		font-weight: bold
		text-align: center
		font-size: 3em
	&-header
		padding: 55px 50px
		padding-bottom: 10px
		border-bottom: none
	&-description
		font-size: 1.25em
		text-align: center
	&-body
		padding: 70px
		padding-top: 0

	&-content
		border-radius: 0
		background-color: $modal-bg
		&.is-big
			width: 60%
	&__form
		margin-top: 25px
	&-input
		&__input
			border: 1px solid transparent
			padding: 25px 50px
			border-radius: 50px
			width: 100%
			margin-bottom: 28px
			position: relative

			&.error
				border-color: $accent

			&:focus
				box-shadow: 1px 7px 24px 0px #dcdcdc

			&:last-child
				margin-bottom: 0

	&__field
		position: relative

	&__thanks
		text-align: center
		margin: 20px 0

	&__icon
		position: absolute
		top: 24%
		height: 30px
		width: 30px
		right: 30px
		background: #f1f3f4
		border-radius: 50%
		color: #fff
		text-align: center
		line-height: 27px
		&-user
			font-size: 18px
		&-phone
			font-size: 20px
			line-height: 31px
		&-email
			font-size: 20px
			line-height: 30px

	&__close
		width: 100px
		height: 100px
		background-color: $accent !important
		color: #fff
		position: absolute
		right: -100px
		top: 0
		opacity: 1
		font-size: 45px

	&__img-magazine
		position: relative
		left: -49px
		top: -22px
		max-width: 130%
	&__img-mocup
		position: relative
		top: 10%
		left: -47px
		max-width: 130%
	&-sides
		&:after
			content: ''
			display: block
			clear: both
	&-rigthside
		float: right
		width: 50%
	&-leftside
		background-color: #fff
		float: left
		width: 50%
		position: absolute
		height: 100%

	&__submit
		border: 1px solid transparent
		padding: 25px 50px
		-webkit-border-radius: 50px
		border-radius: 50px
		width: 100%
		margin-bottom: 28px
		text-align: left
		background-color: $accent
		color: #fff
		position: relative
		box-shadow: -2px 9px 24px -7px $accent
		transition: box-shadow .25s

		&.active, &.focus
			outline: none
		&:hover
			box-shadow: 1px 7px 41px 7px $accent

		&:before
			content: ''
			height: 30px
			width: 30px
			border-radius: 50%
			background-color: #fff
			position: absolute
			right: 30px

		&.is-callback
			&:after
				content: '\e803'
				font-family: "icon"
				font-style: normal
				font-weight: normal
				speak: none
				display: inline-block
				text-decoration: inherit
				width: 1em
				margin-right: .2em
				text-align: center
				color: $accent
				position: absolute
				right: 32.5px
				top: 26px
				font-size: 1.1em

		&.is-present
			&:after
				content: '\f15c'
				font-family: "icon"
				font-style: normal
				font-weight: normal
				speak: none
				display: inline-block
				text-decoration: inherit
				width: 1em
				margin-right: .2em
				text-align: center
				color: $accent
				position: absolute
				right: 32.5px
				top: 26px
				font-size: 1.1em

@import "media" // Always at the end
